<!--
  REFERENCES

  Witt, C. (2025). CIS 530 Intermediate Java Programming. Bellevue University, all rights reserved.
-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head></head>
<!-- Header content -->
<body>
  <header th:fragment="header">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="container-fluid">
              <a class="navbar-brand" href="/">Bookclub</a>
              <button class="navbar-toggler" type="button"
                      data-bs-toggle="collapse" data-bs-target="#navbarNav"
                      aria-controls="navbarNav" aria-expanded="false"
                      aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
              </button>

              <!-- navbar -->
              <div class="collapse navbar-collapse" id="navbarNav">
                  <ul class="navbar-nav">
                      <li class="nav-item">
                          <a class="nav-link" href="/about" th:href="@{/about}">About Us</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="/contact" th:href="@{/contact}">Contact Us</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="/wishlist" th:href="@{/wishlist}">Wishlist</a>
                      </li>
                  </ul>
              </div>


              <!-- center navbar -->
          </div>
          <div class="nav navbar-nav ml-auto w-100 justify-content-center">
              <div sec:authorize="isAuthenticated()">
                  Logged in as <strong sec:authentication="name"></strong>
              </div>
          </div>
          <!-- end navbar -->
          <div class="nav navbar-nav ml-auto w-100 justify-content-end">
              <li class="nav-item">
                  <a href="/swagger-ui.html" class="nav-link" target="_blank">Open Specification</a>
              </li>
              <li class="nav-item float-end">
                  <a href="/logout" th:href="@{/logout}" class="nav-link float-end">Logout</a>
              </li>

          </div>

      </nav>
  </header>
</body>
</html>